<md-toolbar color="primary">
  <md-toolbar-row> 
    <md-slide-toggle class="switch-center">Pay annual save upto 25%</md-slide-toggle> 
  </md-toolbar-row>
  <md-toolbar-row></md-toolbar-row>
</md-toolbar>

<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center start" class="mat-card-top">
  <div fxFlex.gt-sm="80" fxFlex="100">
    <div fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
        <md-card class="pricing-plan">
          <md-card-title>Developer</md-card-title>
          <md-card-subtitle class="mat-text-primary">For testing purposes</md-card-subtitle>
          <md-card-content>
            <h1><strong class="plan-price">FREE</strong></h1>
            <md-list dense>
              <md-list-item>Secure storage</md-list-item>
              <md-list-item>Limited to 1 user</md-list-item>
              <md-list-item class="plan-feature-inactive mat-text-muted">Data analytics</md-list-item>
              <md-list-item class="plan-feature-inactive mat-text-muted">Full search access</md-list-item>
              <md-list-item class="plan-feature-inactive mat-text-muted">Automatic backups</md-list-item>
            </md-list>
          </md-card-content>
          <md-card-actions class="pb-1">
            <button md-raised-button color="accent">Choose Plan</button>
          </md-card-actions>
        </md-card>
      </div>
      <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
        <md-card class="pricing-plan">
          <md-card-title>Basic</md-card-title>
          <md-card-subtitle>For freelancers</md-card-subtitle>
          <md-card-content>
            <h1>
              <strong class="plan-price">
                <span class="plan-price-symbol">$</span>
                <span>10</span>
                <span class="plan-price-period">/ month</span>
              </strong>
            </h1>
            <md-list dense>
              <md-list-item>Secure storage</md-list-item>
              <md-list-item>5 concurrent users</md-list-item>
              <md-list-item>Data analytics</md-list-item>
              <md-list-item class="plan-feature-inactive mat-text-muted">Full search access</md-list-item>
              <md-list-item class="plan-feature-inactive mat-text-muted">Automatic backups</md-list-item>
            </md-list>
          </md-card-content>
          <md-card-actions class="pb-1">
            <button md-raised-button color="accent">Choose Plan</button>
          </md-card-actions>
        </md-card>
      </div>
      <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
        <md-card class="pricing-plan">
          <md-card-title>Managed</md-card-title>
          <md-card-subtitle>For small businesses</md-card-subtitle>
          <md-card-content>
            <h1>
              <strong class="plan-price">
                <span class="plan-price-symbol">$</span>
                <span>49</span>
                <span class="plan-price-period">/ month</span>
              </strong>
            </h1>
            <md-list dense>
              <md-list-item>Secure storage</md-list-item>
              <md-list-item>Unlimited users</md-list-item>
              <md-list-item>Data analytics</md-list-item>
              <md-list-item>Full search access</md-list-item>
              <md-list-item class="plan-feature-inactive mat-text-muted">Automatic backups</md-list-item>
            </md-list>
          </md-card-content>
          <md-card-actions class="pb-1">
            <button md-raised-button color="accent">Choose Plan</button>
          </md-card-actions>
        </md-card>
      </div>
      <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
        <md-card class="pricing-plan">  
          <md-card-title>Enterprise</md-card-title>
          <md-card-subtitle>For large companies</md-card-subtitle>
          <md-card-content>
            <h1>
              <strong class="plan-price">
                <span class="plan-price-symbol">$</span>
                <span>99</span>
                <span class="plan-price-period">/ month</span>
              </strong>
            </h1>
            <md-list dense>
              <md-list-item>Secure storage</md-list-item>
              <md-list-item>Unlimited users</md-list-item>
              <md-list-item>Data analytics</md-list-item>
              <md-list-item>Full search access</md-list-item>
              <md-list-item>Automatic backups</md-list-item>
            </md-list>
          </md-card-content>
          <md-card-actions class="pb-1">
            <button md-raised-button color="accent">Choose Plan</button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
</div>