#loading-indicator {
    position: absolute;
    left: 10px;
    top: 10px;
}

.hide {
    display: none;
}

html, body, #map-canvas  {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map-canvas {
    width:575px;
    height:480px;
}