<md-card>
  <md-card-title>Cards</md-card-title>
  <md-card-subtitle>md-card is a content container component that conforms to the spec of a Material Design card.</md-card-subtitle>
  <md-card-content>
    <md-card>
      <md-card-content>Hello</md-card-content>
    </md-card>
    <md-card>
      <md-card-subtitle>Subtitle</md-card-subtitle>
      <md-card-title>Card with title and footer</md-card-title>
      <md-card-content>
        <p>This is supporting text.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
      <md-card-footer>
        <md-progress-bar mode="indeterminate"></md-progress-bar>
      </md-card-footer>
    </md-card>
    <md-card class="mat-card-flat">
      <md-card-title>Easily customizable</md-card-title>
      <md-card-actions>
        <button md-button>First</button>
        <button md-button>Second</button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-title>Standard Card</md-card-title>
      <md-card-subtitle>Subtitle</md-card-subtitle>
      <hr>
      <md-card-content>
        <p>Standard card with content</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
      </md-card-content>
      <hr>
      <md-card-actions>
        <button md-button color="accent">Action</button>
        <button md-button>Cancel</button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-header>
        <img md-card-avatar src="assets/images/avatar.jpg">
        <md-card-title>Header title</md-card-title>
        <md-card-subtitle>Header subtitle</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="https://source.unsplash.com/600x400">
      <md-card-content>
        <p>Here is some more content</p>
      </md-card-content>
    </md-card>
    <md-card>
       <md-card-title-group>
          <img md-card-sm-image src="https://source.unsplash.com/80x80">
          <md-card-title>Card with title</md-card-title>
          <md-card-subtitle>Subtitle</md-card-subtitle>
       </md-card-title-group>
    </md-card>
  </md-card-content>
</md-card>