<md-card>
  <md-card-title>Toolbar</md-card-title>
  <md-card-subtitle>MdToolbar is a vertical aligned bar, which can hold the application title or actions.</md-card-subtitle>
  <md-card-content>
    <p>The default color toolbar:</p>
    <md-toolbar>
      <button md-button href="#" md-icon-button>
        <md-icon>menu</md-icon>
      </button>
      <span>Default Toolbar</span>
      <span fxFlex></span>
      <button md-button href="#" md-icon-button>
        <md-icon>search</md-icon>
      </button>
      <button md-button href="#" md-icon-button>
        <md-icon>more_vert</md-icon>
      </button>
    </md-toolbar>
    <p>The primary color toolbar:</p>
    <md-toolbar color="primary">
      <button md-button href="#" md-icon-button>
        <md-icon>menu</md-icon>
      </button>
      <span>Primary Toolbar</span>
      <span fxFlex></span>
      <button md-button href="#" md-icon-button>
        <md-icon>search</md-icon>
      </button>
      <button md-button href="#" md-icon-button>
        <md-icon>more_vert</md-icon>
      </button>
    </md-toolbar>
    <p>The accent color toolbar:</p>
    <md-toolbar color="accent">
      <button md-button href="#" md-icon-button>
        <md-icon>menu</md-icon>
      </button>
      <span>Accent Toolbar</span>
      <span fxFlex></span>
      <button md-button href="#" md-icon-button>
        <md-icon>search</md-icon>
      </button>
      <button md-button href="#" md-icon-button>
        <md-icon>more_vert</md-icon>
      </button>
    </md-toolbar>
    <p>An accent toolbar using the second toolbar row:</p>
    <md-toolbar color="accent">
      <md-toolbar-row>
        <span>Second Line Toolbar</span>
      </md-toolbar-row>
    </md-toolbar>
    <p>A primary toolbar using the third toolbar row:</p>
    <md-toolbar color="primary">
      <md-toolbar-row></md-toolbar-row>
      <md-toolbar-row>
        <span fxFlex>Third Line Toolbar</span>
        <md-icon>favorite</md-icon>
        <md-icon>delete</md-icon>
      </md-toolbar-row>
    </md-toolbar>
  </md-card-content>
</md-card>