<md-card>
  <md-card-title>Radios</md-card-title>
  <md-card-subtitle>Radio buttons allow the user to select one option from a set</md-card-subtitle>
  <md-card-content>
    <md-select placeholder="Drink" [(ngModel)]="currentDrink" [required]="isRequired" [disabled]="isDisabled"
      #drinkControl="ngModel">
      <md-option *ngFor="let drink of drinks" [value]="drink.value" [disabled]="drink.disabled">
        {{ drink.viewValue }}
      </md-option>
    </md-select>
    <p> Value: {{ currentDrink }} </p>
    <p> Touched: {{ drinkControl.touched }} </p>
    <p> Dirty: {{ drinkControl.dirty }} </p>
    <p> Status: {{ drinkControl.control?.status }} </p>
    <button md-button (click)="currentDrink='sprite-1'">SET VALUE</button>
    <button md-button (click)="isRequired=!isRequired">TOGGLE REQUIRED</button>
    <button md-button (click)="isDisabled=!isDisabled">TOGGLE DISABLED</button>
    <button md-button (click)="drinkControl.reset()">RESET</button>
  </md-card-content>
</md-card>
